# Local Ollama configuration
USE_OLLAMA=true
OLLAMA_HOST=http://ollama:11434 # for docker compose
# OLLAMA_HOST=http://localhost:11434 # for docker run
OLLAMA_MODEL=llama3.2:1b
OLLAMA_TIMEOUT=180

# BYOK configuration

# check current OpenAI models here https://developers.openai.com/api/docs/models/all
OPENAI_API_KEY=your-key
OPENAI_MODEL=gpt-4o-mini

# check current Anthropic models here https://platform.claude.com/docs/en/models/overview
ANTHROPIC_API_KEY=your-key
ANTHROPIC_MODEL=claude-haiku-4-5

OPENROUTER_API_KEY=your-key
OPENROUTER_MODEL=google/gemma-4-26b-a4b-it:free

# HF_API_KEY=your-key
# HUGGINGFACE_API_KEY=your-key
# HF_MODEL=
