streamlit==1.60.0
youtube-transcript-api==1.2.4
llama-index==0.14.23
llama-index-vector-stores-chroma==0.5.5
# llama-index-embeddings-huggingface==0.7.0
onnxruntime==1.28.0
huggingface-hub==1.26.0

llama-index-llms-ollama==0.10.1
transformers==5.14.1
pydantic==2.13.4
chromadb==1.5.9
ollama==0.6.2
python-dotenv==1.2.2
